
@{
    ViewBag.Title = "dangnhap";
    Layout = "~/Views/Shared/_Chuadangnhap.cshtml";
}

<head>
    <link rel="stylesheet" href="~/assets/css/account.css">
</head>

<div class="container">
    <div class="container__login">
        <h2>Đăng nhập</h2>
        <form id="loginForm" action="@Url.Action("Login", "Account")" method="post">
            @Html.AntiForgeryToken()
            <input class="input login-input" type="text" id="sdt" name="sdt" required placeholder="Số điện thoại">
            <span class="error-message" id="usernameError">@ViewBag.ErrorMessage</span>
            <input class="input login-input" type="password" id="matkhau" name="matkhau" required placeholder="Mật khẩu">
            <span class="error-message" id="passwordError">@ViewBag.ErrorMessage1</span>
            <div class="re-fr">
                <div class="reme">
                    <input class="login-checkbox" type="checkbox" name="remember" id="remember">
                    <label class="login-reme" for="remember">Ghi nhớ tôi?</label>
                </div>
                <a class="a-login" href="account-forgot_password.html">Quên mật khẩu?</a>
            </div>
            <button type="submit">Đăng Nhập Ngay</button>
            <button class="register" type="button" onclick="window.location.href='@Url.Action("Register","Account" )'">Tạo tài khoản mới</button>
        </form>
        <div class="service">
            <a href="">Điều khoản dịch vụ</a> và <a href="">Chính sách bảo mật</a>
        </div>
    </div>
</div>

