@model IEnumerable<PetLand.Models.CartItemViewModel>

@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_Trangchu.cshtml";

}
<head>
    <link rel="stylesheet" href="~/assets/css/cart.css">
</head>
<div class="container">
    <div class="c-cart">

        <h1 class="cart-name">Giỏ Hàng</h1>

        <div id="empty-cart-message" style="display: none;">
            <p>Giỏ hàng của bạn hiện đang trống.</p>
        </div>
        @foreach (var item in Model)
        {
            <!-- Cart Item 1 -->
            <div class="cart-item">
                <input type="checkbox" class="select-item" id="item1" name="select-item">
                <img src="~/assets/img/product.jpg" alt="">
                <div class="item-details">
                    <span class="item-name">@item.TenSanPham</span>
                    <div class="item-prices">
                        <span class="price">@item.Gia</span>
                    </div>
                </div>
                <div class="quantity-control">
                    <form action="@Url.Action("Cart_bot", "Trangchinh")" method="post">
                        <input type="hidden" name="idsp" value="@item.SanPhamId" />
                        <input type="hidden" name="idkhachhang" value="@item.KhachHangid" />
                        <input type="hidden" name="change" value="-1" />
                        <button type="submit" class="quantity-button decrease">-</button>
                    </form>
                    <span class="quantity">@item.SoLuong</span>
                    <form action="@Url.Action("Cart_them", "Trangchinh")" method="post">
                        <input type="hidden" name="idsp" value="@item.SanPhamId" />
                        <input type="hidden" name="idkhachhang" value="@item.KhachHangid" />
                        <input type="hidden" name="change" value="-1" />
                        <button type="submit" class="quantity-button decrease">+</button>
                    </form>
                </div>
                <a class="link-product" href="@Url.Action("cart_delete","Trangchinh", new { id = item.Giohangid })">
                    <button class="delete-button"><i class="fa-regular fa-trash-can"></i></button>
                </a>
            </div>
        }
        <!-- Add more cart items as needed -->

        <div class="cart-footer">
            <div class="cart-footer__actions">
                <input type="checkbox" id="select-all-footer" name="select">
                <label for="select-all-footer">Chọn Tất Cả</label>
                <button class="cart-footer__delete">Xóa</button>
            </div>
            <div class="cart-footer__summary">
                <span class="cart-footer__total-text">Tổng thanh toán:</span>
                <span class="total-price"><span class="cart-footer__total-price"></span>đ</span>
                <button class="cart-footer__checkout-button" onclick="window.location.href='buy.html'">Mua Hàng</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/cart.js"></script>