@model IEnumerable<PetLand.Areas.Admin.Models.Danhgia>
<div class="customer-reviews">
    <h2 class="customer-reviews__title">Đánh giá của khách hàng</h2>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="review">
                <div class="review__header">
                    <span class="review__name">@Html.DisplayFor(modelItem => item.KhachHang.hoten)</span>
                    <div class="review__rating" data-rating="@Html.DisplayFor(modelItem => item.diem)">
                        <!-- JavaScript sẽ tạo các biểu tượng sao ở đây -->
                    </div>
                </div>
                <p class="review__content">
                    @Html.DisplayFor(modelItem => item.noidung)
                </p>
                <span class="review__time">  @Html.DisplayFor(modelItem => item.ngaydanhgia)</span>
                <div class="respond">
                    <span class="respond__name">Cửa hàng đã phản hồi</span>
                    <p class="respond__content">
                        @Html.DisplayFor(modelItem => item.traloi)
                    </p>
                    <span class="respond__time">@Html.DisplayFor(modelItem => item.ngaytraloi)</span>
                </div>
            </div>
        }
    }
</div>
