@model IEnumerable<PetLand.Areas.Admin.Models.SanPham>
@{
    Layout = "~/Views/Shared/_Trangchu.cshtml";
    var filter = ViewBag.Filter as string;
}
<head>
    <link rel="stylesheet" href="~/assets/css/index.css">
</head>
<div class="container">
    <div class="welcome">
        <h2 class="welcome__title">Chào mừng đến với Petland – Nơi tình yêu dành cho thú cưng trở thành hiện thực!</h2>
    </div>
    <div class="search-container">
        <form method="get" action="">
            <input type="text" name="filter" id="search" placeholder="Bạn đang tìm gì?">
            <button type="submit" class="btn btn-success">Tìm kiếm</button>
        </form>
        <ul id="suggestions" class="suggestions-list">
            @foreach (var item in Model)
            {
                <a class="suggestion-item-link" href="@Url.Action("detail_sanpham", new { id = item.idSanPham })">
                    <li class="suggestion-item">                    
                        <img src="~/assets/img/product.jpg">
                        <span>@Html.DisplayFor(modelItem => item.tensp)</span>
                    </li>
                </a>
            }
        </ul>
        <div id="no-results" class="no-results">Không có kết quả</div>
    </div>
    <div class="container_fproducts">
        <div class="menu">
            <h2 class="category__title"><i class="fa-solid fa-bars"></i> Danh mục</h2>
            <ul class="category__list">
                @{Html.RenderAction("Index_loaisp", "Trangchinh");}
            </ul>
        </div>
        <div class="products">
            <section class="featured-products">
                <h2 class="featured-products__title">Sản phẩm nổi bật</h2>
                <div class="featured-products__grid">
                    @if (string.IsNullOrEmpty(filter))
                    {
                        foreach (var item in Model)
                        {
                            <div class="product">
                                <a class="link-product" href="@Url.Action("detail_sanpham", new { id = item.idSanPham })">
                                    <img src="~/assets/img/product.jpg" alt="Ảnh sản phẩm" class="product__img">
                                    <h3 class="product__name">@Html.DisplayFor(modelItem => item.tensp)</h3>
                                    <p class="product__price">@Html.DisplayFor(modelItem => item.gia)</p>
                                    <div class="product__actions">
                                        <button class="product__btn-add">Thêm vào giỏ hàng</button>
                                        <div class="product__rating" data-rating="@Html.DisplayFor(modelItem => item.diemtb)"></div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
    </div>
</div>